<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Agreements</title>
    <!-- JQuery library via a Content Delivery Network (CDN) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Stylesheet that is shared between all pages -->
    <link rel="stylesheet" href="/static/stylesheets/style_all.css">
    <!-- Stylesheet with specific styling for this page -->
    <link rel="stylesheet" href="/static/stylesheets/style_agreements.css">
    <!-- Favicon -->
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon"/>
    <!-- Make the page render in a mobile friendly way -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div id="div-wrapper">

      <div id="div-header">

        <div class='div-header-wrapper'>
          <!-- Image at the top of each page -->
          <div id="div-header-banner1">
            <img id="img-familysportsandfitness" src="/static/images/NewHeader1.png">
          </div>
          <div id="div-header-banner2">
            <img src="/static/images/Activity Banner No Border.jpg" alt="Image Unavailable">
          </div>

          <!-- Navigation bar at the top of each page -->
          <div id="div-nav">
            <nav>
              <ul class="ul-nav">
                <li>
                  <a href="/">Home</a>
                </li>
                <li>
                  <a href="/agreements">Agreements</a>
                </li>
                <li>
                  <a href="/services">Services</a>
                </li>
                <li>
                  <a href="/galleries">Galleries</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>

        <div class="div-agreements-container">
          <!-- Services catagory jump to list -->
          <div>
            <ul class="ul-agreements">
              <li>Membership Deals</li>
              <li>After School</li>
              <li>Summer Camp</li>
              <li>Silver Sneakers</li>
            </ul>
          </div>
        </div>


        

      </div>



      <div id="div-body">

        

        <div id="div-buffer">
          <div id="div-content1">
            <!-- <img class="img1" src="https://cdn.glitch.com/dc33edc5-b585-4a23-8c69-f9710aff0200%2FAgreements2.png?v=1561674963951" alt="Image Unavailable"> -->
            <p class='p-1'>
              <br>
              <br>
              <label class="label-title1">Monthly Drafts</label>
              <label class='label-body1'>
                <br>
                <br>
                18 Month | 12 Month | 6 Month
                <br>
                <br>
                Best options for the best price!
              </label>
            </p>
            <p class='p-2'>
              <label class="label-title2">Prepayments</label>
              <label class='label-body2'>
                <br>
                <br>
                1 Month | 3 Month | 6 Month | 12 Month | 18 Month
              </label>
            </p>
            <p class='p-3'>
              <label class="label-title3">Day Passes</label>
              <label class='label-body3'>
                <br> 
                <br>
                Valid from open to 5pm for that day!
                <br>
                Before 4:00pm: $5.00
                <br>
                After 4:00pm: $10.00
              </label>
            </p>
            <p class='p-4'>
              <label class="label-title4">Discounts</label>
              <label class='label-body4'>
                <br>
                <br>
                Military | Police | Fire and Rescue | Clergy | Student | Teacher | Senior (60+)
              </label>
              <br>
              <br>
              <br>
            </p>
          </div>
          <div id="div-content2">
            <!-- <img class="img2" src="https://cdn.glitch.com/dc33edc5-b585-4a23-8c69-f9710aff0200%2FAfterSchool2.png?v=1561674981678" alt="Image Unavailable"> -->
            <p class='p-1'>
              <br>
              <br>
              <label class="label-title1">Full Time Before and After School</label>
              <label class='label-body1'>
                <br>
                <br>
                4 - 5 Days of the Week!
              </label>
            </p>
            <p class='p-2'>
              <label class="label-title2">Part Time Before and After School</label>
              <label class='label-body2'>
                <br>
                <br>
                1 - 3 Days of the Week!
              </label>
            </p>
            <p class='p-3'>
              <!-- Usual content -->
              <!-- <label class="label-title3">Areas Include:</label>
              <label class='label-body3'>
                <br>
                <br>
                West Wing | West Wing and Pool | West Wing and Basketball Courts
              </label> -->
              <!-- Temporary content -->
              <!--
              <label class="label-title3">Virtual Learning</label>
              <label class='label-body3'>
                <br>
                <br>
                For the duration of the pandemic we assist students connecting to their virtual lessons.
              </label>
              -->
            </p>
            <p class='p-4'>
              <label class="label-title4">Attendance</label>
              <label class='label-body4'>
                <br>
                <br>
                Registered students are enrolled the week prior to attendance so that
                <br>
                they can be accounted for during the week!
              </label>
              <br>
              <br>
              <br>
            </p>
          </div>
          <div id="div-content3">
            <!-- <img class="img3" src="https://cdn.glitch.com/dc33edc5-b585-4a23-8c69-f9710aff0200%2FSummerCamp2.png?v=1561675631863" alt="Image Unavailable"> -->
            <p class='p-1'>
              <br>
              <br>
              <label class="label-title1">Full Time Summer Camp</label>
              <label class='label-body1'>
                <br>
                <br>
                4 - 5 Days of the Week!
              </label>
            </p>
            <p class='p-2'>
              <label class="label-title2">Part Time Summer Camp</label>
              <label class='label-body2'>
                <br>
                <br>
                1 - 3 Days of the Week!
              </label>
            </p>
            <p class='p-3'>
              <label class="label-title3">Activities Include:</label>
              <label class='label-body3'>
                <br>
                <br>
                Field Trips | Swimming | Indoor and Outdoor Sports | Playground
              </label>
            </p>
            <p class='p-4'>
              <label class="label-title4">Attendance</label>
              <label class='label-body4'>
                <br>
                <br>
                Registered students are enrolled the week prior to attendance so that
                <br>
                they can be accounted for during the week!
              </label>
              <br>
              <br>
              <br>
            </p>
          </div>
          <div id="div-content4">
            <!-- <img class="img4" src="https://cdn.glitch.com/dc33edc5-b585-4a23-8c69-f9710aff0200%2FSilverSneakers2.png?v=1591517957581" alt="Image Unavailable"> -->
            <p class='p-1'>
              <br>
              <br>
              <label class="label-title1">Contact Us About:</label>
              <label class='label-body1'>
                <br>
                <br>
                Renew Active | Silver and Fit | Silver Sneakers
              </label>
              <br>
              <br>
              <br>
            </p>
          </div>
        </div>

      </div>



      <div id="div-footer">

        <ul id="ul-footer1">
          <li><a href="/agreements">Agreements</a></li>
          <li>Memberships</li>
          <li>Before/After School</li>
          <li>Summer Camp</li>
          <li>Silver and Fit</li>
        </ul>
        <ul id="ul-footer2">
          <li><a href="/services">Services</a></li>
          <li>Classes</li>
          <li>Parties</li>
          <li>Tanning</li>
          <li>Special Events</li>
        </ul>
        <ul id="ul-footer3">
          <li><a href= "/galleries">Galleries</a></li>
          <li>Weight Room</li>
          <li>Functional Fitness</li>
          <li>Cardio</li>
          <li>Ladies Only</li>
          <li>Courts</li>
          <li>Pool</li>
          <li>West Wing</li>
          <li>Club 180</li>
        </ul>
        <img id="img-sitemap" src="/static/images/FSFRedandWhite.png?">

      </div>

      <div id="div-contact-buffer">
        <p class='p-contact-body1'>
          <label class='p-label-contact-title1'>Contact Us</label>
          (704) 888 - 3484
        </p>
        <p class='p-contact-body2'>
          <label class='p-label-contact-title2'>Located At</label>
          334 HWY 200 N, Stanfield NC 28163
        </p>
      </div>

      <div id="div-meta-footer">
        <!-- Google Maps Link -->
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3258.6378825683005!2d-80.42687158536253!3d35.24038336163124!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88546b1a7db63337%3A0xafb08bba5fbec1ab!2sFamily%20Sports%20%26%20Fitness!5e0!3m2!1sen!2sus!4v1605781189150!5m2!1sen!2sus"
        width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>

    </div>

    <!-- Scripts -->
    <script src="/static/javascripts/jquery_all.js"></script>
    <!-- JQuery script -->
    <script src="/static/javascripts/jquery_agreements.js"></script>
  </body>
</html>
