<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Galleries</title>
    <!-- JQuery library via a Content Delivery Network (CDN) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- JQueryUI library via a Content Delivery Network (CDN) --> <!-- Used just for tooltips in the project -->
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <!-- Stylesheet that is shared between all pages -->
    <link rel="stylesheet" href="/static/stylesheets/style_all.css">
    <!-- Stylesheet with specific styling for this page -->
    <link rel="stylesheet" href="/static/stylesheets/style_galleries.css">
    <!-- Favicon -->
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon"/>
    <!-- Make the page render in a mobile friendly way -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div id="div-wrapper">

      <div id="div-header">

        <div class='div-header-wrapper'>
          <!-- Image at the top of each page -->
          <div id="div-header-banner1">
            <img id="img-familysportsandfitness" src="/static/images/NewHeader1.png">
          </div>
          <div id="div-header-banner2">
            <img src="/static/images/Activity Banner No Border.jpg" alt="Image Unavailable">
          </div>

          <!-- Navigation bar at the top of each page -->
          <div id="div-nav">
            <nav>
              <ul class="ul-nav">
                <li>
                  <a href="/">Home</a>
                </li>
                <li>
                  <a href="/agreements">Agreements</a>
                </li>
                <li>
                  <a href="/services">Services</a>
                </li>
                <li>
                  <a href="/galleries">Galleries</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>

      </div>


      <div id="div-body">

        <!-- Gallery catagory jump to list -->
        <div class="div-gallery-wrapper">
          <!-- <ul class="ul-gallerys">
            <li><img src="FSF Website Images/Gallery/Finals/dot.png" alt=""></li>
            <li><img src="FSF Website Images/Gallery/Finals/dot.png" alt=""></li>
            <li><img src="FSF Website Images/Gallery/Finals/dot.png" alt=""></li>
            <li><img src="FSF Website Images/Gallery/Finals/dot.png" alt=""></li>
            <li><img src="FSF Website Images/Gallery/Finals/dot.png" alt=""></li>
            <li><img src="FSF Website Images/Gallery/Finals/dot.png" alt=""></li>
            <li><img src="FSF Website Images/Gallery/Finals/dot.png" alt=""></li>
            <li><img src="FSF Website Images/Gallery/Finals/dot.png" alt=""></li>
          </ul> -->

          <div id="div-buffer">
            <div id="div-content1">
              <div class='div-backgroundshade'></div>
              <label class='title'>Weight Room</label>
              <img class="arrow_left1" src ="/static/images/arrow_left.png">
              <img class="img1" src="/static/images/gallery/WeightRoom1_compressed.jpg" alt="Image Unavailable">
              <img class="arrow_right1" src ="/static/images/arrow_right.png">
              <img class="ind" src="/static/images/ONE.png">

              <ul class="ul-gallerys">
                <li><img src="/static/images/dot.png" alt=""></li>
                <li><img src="/static/images/dot.png" alt=""></li>
                <li><img src="/static/images/dot.png" alt=""></li>
                <li><img src="/static/images/dot.png" alt=""></li>
                <li><img src="/static/images/dot.png" alt=""></li>
                <li><img src="/static/images/dot.png" alt=""></li>
                <li><img src="/static/images/dot.png" alt=""></li>
                <li><img src="/static/images/dot.png" alt=""></li>
              </ul>
            </div>
            <div id="div-content2">
              <div class='div-backgroundshade'></div>
              <label class='title'>Functional Fitness</label>
              <img class="arrow_left2" src ="/static/images/arrow_left.png">
              <img class="img2" src="/static/images/gallery/FunctionalFitness1_compressed.jpg" alt="Image Unavailable">
              <img class="arrow_right2" src ="/static/images/arrow_right.png">
              <img class="ind" src="/static/images/ONE.png">

              <ul class="ul-gallerys">
                <li><img src="/static/images/dot.png" alt=""></li>
                <li><img src="/static/images/dot.png" alt=""></li>
                <li><img src="/static/images/dot.png" alt=""></li>
                <li><img src="/static/images/dot.png" alt=""></li>
                <li><img src="/static/images/dot.png" alt=""></li>
                <li><img src="/static/images/dot.png" alt=""></li>
                <li><img src="/static/images/dot.png" alt=""></li>
                <li><img src="/static/images/dot.png" alt=""></li>
              </ul>
            </div>
            <div id="div-content3">
              <div class='div-backgroundshade'></div>
              <label class='title'>Cardio</label>
              <img class="arrow_left3" src ="/static/images/arrow_left.png">
              <img class="img3" src="/static/images/gallery/Cardio1_compressed.jpg" alt="Image Unavailable">
              <img class="arrow_right3" src ="/static/images/arrow_right.png">
              <img class="ind" src="/static/images/ONE.png">

              <ul class="ul-gallerys">
                <li><img src="/static/images/dot.png" alt=""></li>
                <li><img src="/static/images/dot.png" alt=""></li>
                <li><img src="/static/images/dot.png" alt=""></li>
                <li><img src="/static/images/dot.png" alt=""></li>
                <li><img src="/static/images/dot.png" alt=""></li>
                <li><img src="/static/images/dot.png" alt=""></li>
                <li><img src="/static/images/dot.png" alt=""></li>
                <li><img src="/static/images/dot.png" alt=""></li>
              </ul>
            </div>
            <div id="div-content4">
              <div class='div-backgroundshade'></div>
              <label class='title'>Ladies Only</label>
              <img class="arrow_left4" src ="/static/images/arrow_left.png">
              <img class="img4" src="/static/images/gallery/LadiesOnly1_compressed.jpg" alt="Image Unavailable">
              <img class="arrow_right4" src ="/static/images/arrow_right.png">
              <img class="ind" src="/static/images/ONE.png">

              <ul class="ul-gallerys">
                <li><img src="/static/images/dot.png" alt=""></li>
                <li><img src="/static/images/dot.png" alt=""></li>
                <li><img src="/static/images/dot.png" alt=""></li>
                <li><img src="/static/images/dot.png" alt=""></li>
                <li><img src="/static/images/dot.png" alt=""></li>
                <li><img src="/static/images/dot.png" alt=""></li>
                <li><img src="/static/images/dot.png" alt=""></li>
                <li><img src="/static/images/dot.png" alt=""></li>
              </ul>
            </div>
            <div id="div-content5">
              <div class='div-backgroundshade'></div>
              <label class='title'>Basketball Courts</label>
              <!-- <img class="arrow_left5" src ="/static/images/arrow_left.png"> -->
              <img class="img5" src="/static/images/gallery/Courts1_compressed.JPG" alt="Image Unavailable">
              <!-- <img class="arrow_right5" src ="/static/images/arrow_right.png"> -->
              <img class="ind" src="/static/images/ONE.png">

              <ul class="ul-gallerys">
                <li><img src="/static/images/dot.png" alt=""></li>
                <li><img src="/static/images/dot.png" alt=""></li>
                <li><img src="/static/images/dot.png" alt=""></li>
                <li><img src="/static/images/dot.png" alt=""></li>
                <li><img src="/static/images/dot.png" alt=""></li>
                <li><img src="/static/images/dot.png" alt=""></li>
                <li><img src="/static/images/dot.png" alt=""></li>
                <li><img src="/static/images/dot.png" alt=""></li>
              </ul>
            </div>
            <div id="div-content6">
              <div class='div-backgroundshade'></div>
              <label class='title'>Swimming Pool</label>
              <!--<img class="arrow_left6" src ="https://cdn.glitch.com/dc33edc5-b585-4a23-8c69-f9710aff0200%2Farrow_left.png"> -->
              <img class="img6" src="/static/images/gallery/Pool_compressed.jpg" alt="Image Unavailable">
              <!--<img class="arrow_right6" src ="https://cdn.glitch.com/dc33edc5-b585-4a23-8c69-f9710aff0200%2Farrow_right.png"> -->

              <ul class="ul-gallerys">
                <li><img src="/static/images/dot.png" alt=""></li>
                <li><img src="/static/images/dot.png" alt=""></li>
                <li><img src="/static/images/dot.png" alt=""></li>
                <li><img src="/static/images/dot.png" alt=""></li>
                <li><img src="/static/images/dot.png" alt=""></li>
                <li><img src="/static/images/dot.png" alt=""></li>
                <li><img src="/static/images/dot.png" alt=""></li>
                <li><img src="/static/images/dot.png" alt=""></li>
              </ul>
            </div>
            <div id="div-content7">
              <div class='div-backgroundshade'></div>
              <label class='title'>West Wing</label>
              <img class="arrow_left7" src ="/static/images/arrow_left.png">
              <img class="img7" src="/static/images/gallery/WestWing1_compressed.jpg" alt="Image Unavailable">
              <img class="arrow_right7" src ="/static/images/arrow_right.png">
              <img class="ind" src="/static/images/ONE.png">

              <ul class="ul-gallerys">
                <li><img src="/static/images/dot.png" alt=""></li>
                <li><img src="/static/images/dot.png" alt=""></li>
                <li><img src="/static/images/dot.png" alt=""></li>
                <li><img src="/static/images/dot.png" alt=""></li>
                <li><img src="/static/images/dot.png" alt=""></li>
                <li><img src="/static/images/dot.png" alt=""></li>
                <li><img src="/static/images/dot.png" alt=""></li>
                <li><img src="/static/images/dot.png" alt=""></li>
              </ul>
            </div>
            <div id="div-content8">
              <div class='div-backgroundshade'></div>
              <label class='title'>Club 180</label>
              <img class="arrow_left8" src ="/static/images/arrow_left.png">
              <img class="img8" src="/static/images/gallery/Club1801_compressed.jpg" alt="Image Unavailable">
              <img class="arrow_right8" src ="/static/images/arrow_right.png">
              <img class="ind" src="/static/images/ONE.png">

              <ul class="ul-gallerys">
                <li><img src="/static/images/dot.png" alt=""></li>
                <li><img src="/static/images/dot.png" alt=""></li>
                <li><img src="/static/images/dot.png" alt=""></li>
                <li><img src="/static/images/dot.png" alt=""></li>
                <li><img src="/static/images/dot.png" alt=""></li>
                <li><img src="/static/images/dot.png" alt=""></li>
                <li><img src="/static/images/dot.png" alt=""></li>
                <li><img src="/static/images/dot.png" alt=""></li>
              </ul>
            </div>
          </div>

          

        </div>

        

      </div>


      <div id="div-footer">

        <ul id="ul-footer1">
          <li><a href="/agreements">Agreements</a></li>
          <li>Memberships</li>
          <li>Before/After School</li>
          <li>Summer Camp</li>
          <li>Silver and Fit</li>
        </ul>
        <ul id="ul-footer2">
          <li><a href="/services">Services</a></li>
          <li>Classes</li>
          <li>Parties</li>
          <li>Tanning</li>
          <li>Special Events</li>
        </ul>
        <ul id="ul-footer3">
          <li><a href= "/galleries">Galleries</a></li>
          <li>Weight Room</li>
          <li>Functional Fitness</li>
          <li>Cardio</li>
          <li>Ladies Only</li>
          <li>Courts</li>
          <li>Pool</li>
          <li>West Wing</li>
          <li>Club 180</li>
        </ul>
        <img id="img-sitemap" src="/static/images/FSFRedandWhite.png">

      </div>

      <div id="div-contact-buffer">
        <p class='p-contact-body1'>
          <label class='p-label-contact-title1'>Contact Us</label>
          (704) 888 - 3484
        </p>
        <p class='p-contact-body2'>
          <label class='p-label-contact-title2'>Located At</label>
          334 HWY 200 N, Stanfield NC 28163
        </p>
      </div>

      <div id="div-meta-footer">
        <!-- Google Maps Link -->
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3258.6378825683005!2d-80.42687158536253!3d35.24038336163124!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88546b1a7db63337%3A0xafb08bba5fbec1ab!2sFamily%20Sports%20%26%20Fitness!5e0!3m2!1sen!2sus!4v1605781189150!5m2!1sen!2sus"
        width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>

    </div>

    <!-- Scripts -->
    <script src="/static/javascripts/jquery_all.js"></script>
    <!-- JQuery script -->
    <script src="/static/javascripts/jquery_galleries.js"></script>
  </body>
</html>
