<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <!-- JQuery library via a Content Delivery Network (CDN) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Stylesheet that is shared between all pages -->
    <link rel="stylesheet" href="/static/stylesheets/style_all.css">
    <!-- Stylesheet with specific styling for this page -->
    <link rel="stylesheet" href="/static/stylesheets/style_index.css">
    <!-- Favicon -->
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon"/>
    <!-- Make the page render in a mobile friendly way -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Code for the Swiper -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  </head>
  <body>
    <div id="div-wrapper">



      <div id="div-header">



        <div class='div-header-wrapper'>
          <!-- Image at the top of each page -->
          <div id="div-header-banner1">
            <img id="img-familysportsandfitness" src="/static/images/NewHeader1.png">
          </div>
          <div id="div-header-banner2">
            <img src="/static/images/Activity Banner No Border.jpg" alt="Image Unavailable">
          </div>

          <!-- Navigation bar at the top of each page -->
          <div id="div-nav">
            <nav>
              <ul class="ul-nav">
                <li>
                  <a href="/">Home</a>
                </li>
                <li>
                  <a href="/agreements">Agreements</a>
                </li>
                <li>
                  <a href="/services">Services</a>
                </li>
                <li>
                  <a href="/galleries">Galleries</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>



      </div>



      <div id="div-body">



        <!-- <div id="div-buffer-alerts"> -->
            <!-- <img class="img-promostarL" src="https://cdn.glitch.com/dc33edc5-b585-4a23-8c69-f9710aff0200%2Fpromostar.png?v=1569972997575" alt="Img Unavailable"> -->
            <!-- <p id="p-alerts">! Limited Re-opening !</p> -->
            <!-- <p id="p-alerts">Temporary Saturday Hours: 8am - 7pm!</p> -->
            <!-- <img class="img-promostarR" src="https://cdn.glitch.com/dc33edc5-b585-4a23-8c69-f9710aff0200%2Fpromostar.png?v=1569972997575" alt="Img Unavailable"> -->
        <!-- </div> -->

        
          <!-- <img id="img-mainpage" src="https://cdn.glitch.com/dc33edc5-b585-4a23-8c69-f9710aff0200%2FHomepageFront_MAIN_Scaled1.png?v=1568978762916"> -->
          
          <div class="swiper-container">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide">
                <div class='div-slide-inner'>
                  <div class='div-slide-upper'>
                    <p class='p-updates1'>Updates</p>
                  </div>
                  <div class='div-slide-lower'>
                    <p>
                      Swim Lessons Starting in Spring 2023
                      <br>
                      <br>
                      New Pickleball Courts!
                      <br>
                      <br>
                      Visit our Facebook page to stay up to date with our latest offers!
                      <br>
                      <a class='a-fblink' target="_blank" href="https://www.facebook.com/stanfield.fsf">Facebook Page</a>
                      <br>
                      <br>
                      <br>
                      <br>
                      <span style="font-size:large">Hours</span><span style="font-size:medium">Monday - Friday: 5am - 9pm | Saturday: 8am - 3pm | Sunday: 1pm - 5pm</span>
                      <br>
                      <br>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>


      
      <div id="div-footer">



        <ul id="ul-footer1">
          <li><a href="/agreements">Agreements</a></li>
          <li>Memberships</li>
          <li>Before and After School</li>
          <li>Summer Camp</li>
           <li>Silver and Fit</li>
        </ul>
        <ul id="ul-footer2">
          <li><a href="/services">Services</a></li>
          <li>Classes</li>
          <li>Parties</li>
          <li>Tanning</li>
          <li>Special Events</li>
        </ul>
        <ul id="ul-footer3">
          <li><a href= "/galleries">Galleries</a></li>
          <li>Weight Room</li>
          <li>Functional Fitness</li>
          <li>Cardio</li>
          <li>Ladies Only</li>
          <li>Courts</li>
          <li>Pool</li>
          <li>West Wing</li>
          <li>Club 180</li>
        </ul>
        <img id="img-sitemap" src="/static/images/FSFRedandWhite.png">

      </div>

      <div id="div-contact-buffer">
        <p class='p-contact-body1'>
          <label class='p-label-contact-title1'>Contact Us</label>
          (704) 888 - 3484
        </p>
        <p class='p-contact-body2'>
          <label class='p-label-contact-title2'>Located At</label>
          334 HWY 200 N, Stanfield NC 28163
        </p>
      </div>

      <div id="div-meta-footer">
        <!-- Google Maps Link -->
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3258.6378825683005!2d-80.42687158536253!3d35.24038336163124!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88546b1a7db63337%3A0xafb08bba5fbec1ab!2sFamily%20Sports%20%26%20Fitness!5e0!3m2!1sen!2sus!4v1605781189150!5m2!1sen!2sus"
        width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>

    </div>

    <!-- Scripts -->
    <script src="/static/javascripts/jquery_all.js"></script>
    <!-- JQuery script -->
    <script src="/static/javascripts/jquery_index.js"></script>
  </body>
</html>
