<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Services</title>
    <!-- JQuery library via a Content Delivery Network (CDN) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Stylesheet that is shared between all pages -->
    <link rel="stylesheet" href="/static/stylesheets/style_all.css">
    <!-- Stylesheet with specific styling for this page -->
    <link rel="stylesheet" href="/static/stylesheets/style_services.css">
    <!-- Favicon -->
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon"/>
    <!-- Make the page render in a mobile friendly way -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div id="div-wrapper">

      <div id="div-header">

        <div class='div-header-wrapper'>
          <!-- Image at the top of each page -->
          <div id="div-header-banner1">
            <img id="img-familysportsandfitness" src="/static/images/NewHeader1.png">
          </div>
          <div id="div-header-banner2">
            <img src="/static/images/Activity Banner No Border.jpg" alt="Image Unavailable">
          </div>

          <!-- Navigation bar at the top of each page -->
          <div id="div-nav">
            <nav>
              <ul class="ul-nav">
                <li>
                  <a href="/">Home</a>
                </li>
                <li>
                  <a href="/agreements">Agreements</a>
                </li>
                <li>
                  <a href="/services">Services</a>
                </li>
                <li>
                  <a href="/galleries">Galleries</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>

        <div class="div-services-container">
          <!-- Services catagory jump to list -->
          <div>
            <ul class="ul-services">
              <li>Classes</li>
              <li>Parties</li>
              <li>Hydro Massage Bed</li>
              <li>Events</li>
            </ul>
          </div>
        </div>

      </div>


      <div id="div-body">



        <div id="div-buffer">
          <div id="div-content1">
            <p class='p-1'>
              <br>
              <br>
              <label class="label-title1">See Our Facebook Page For Our Class Schedule:</label>
              <br>
              <br>
              <a class='a-fblink' target="_blank" href="https://www.facebook.com/stanfield.fsf">Facebook Page</a>
              <br>
              <br>
              <label class="label-title2">Personal Training Available! Call For Details</label>
              <br>
              <br>
              <br>
            </p>
          </div>
          <div id="div-content2">
            <!-- <img src="https://cdn.glitch.com/dc33edc5-b585-4a23-8c69-f9710aff0200%2FPartyRooms2.png?v=1578568914649" alt="Image Unavailable"> -->
            <p class='p-1'>
              <br>
              <br>
              <label class="label-title1">Have Your Party Here!</label>
              <label class='label-body1'>
                <br>
                <br>
                Rent Rooms for 3 Hours!
                <br>
                <br>
                Add additional hours for a set price per hour!
              </label>
            </p>
            <p class='p-2'>
              <label class="label-title2">Weekends or Week Days</label>
              <label class='label-body2'>
                <br>
                <br>
                Call ahead and reserve your party room!
              </label>
            </p>
            <p class='p-3'>
              <label class="label-title3">Areas Include:</label>
              <label class='label-body3'>
                <br>
                <br>
                West Wing | West Wing and Pool | West Wing and Basketball Courts
              </label>
            </p>
            <p class='p-4'>
              <label class="label-title4">Down Payment</label>
              <label class='label-body4'>
                <br>
                <br>
                Provide and initial down payment and have it returned after party rooms are cleaned after use.
                <br>
                Cleaning supplies are provided.
                <br>
                Clean and Return is optional.
              </label>
              <br>
              <br>
              <br>
            </p>
          </div>
          <div id="div-content3">
            <!-- <img src="https://cdn.glitch.com/dc33edc5-b585-4a23-8c69-f9710aff0200%2FTanning2.png?v=1578568923039" alt="Image Unavailable"> -->
            <p class='p-1'>
              <br>
              <br>
              <label class="label-title1">Member and Non-member Tanning!</label>
              <label class='label-body1'>
                <br>
                <br>
                1 Session | 20 Sessions | One Month Unlimited
                <br>
                <br>
                Discounts for members | Select your tanning time
              </label>
            </p>
            <p class='p-2'>
              <label class="label-title2">HydroMassage</label>
              <label class='label-body2'>
                <br>
                <br>
                Come and try out our HydroMassage bed!
              </label>
            </p>
            <p class='p-3'>
              <label class="label-title3">Products for Purchase:</label>
              <label class='label-body3'>
                <br>
                <br>
                Protective Eyewear | Tanning Lotion and Bronzer
              </label>
            </p>
            <p class='p-4'>
              <label class="label-title4">Restrictions</label>
              <label class='label-body4'>
                <br>
                <br>
                Tanning beds restricted to individuals under the age of 18 years of age.
                <br>
                Protective eyewear must be worn.
              </label>
              <br>
              <br>
              <br>
            </p>
          </div>
          <div id="div-content4">
            <!-- <img src="https://cdn.glitch.com/dc33edc5-b585-4a23-8c69-f9710aff020/0%2FSpecialEvents22.png?v=1591244552049" alt="Image Unavailable"> -->
            <p class='p-1'>
              <br>
              <br>
              <label class="label-title1">Summer Swim Lessons!</label>
              <label class='label-body1'>
                <br>
                <br>
                Our swim instructors cater to both individual and group lessons!
                <br>
                <br>
                Instructors are certified lifeguards
              </label>
            </p>
            <p class='p-2'>
              <label class="label-title2">Come Try Out:</label>
              <label class='label-body2'>
                <br>
                <br>
                Saturday Sweat Class
              </label>
              <br>
              <br>
              <br>
            </p>
          </div>
        </div>

      </div>


      <div id="div-footer">

        <ul id="ul-footer1">
          <li><a href="/agreements">Agreements</a></li>
          <li>Memberships</li>
          <li>Before/After School</li>
          <li>Summer Camp</li>
           <li>Silver and Fit</li>
        </ul>
        <ul id="ul-footer2">
          <li><a href="/services">Services</a></li>
          <li>Classes</li>
          <li>Parties</li>
          <li>Tanning</li>
          <li>Special Events</li>
        </ul>
        <ul id="ul-footer3">
          <li><a href= "/galleries">Galleries</a></li>
          <li>Weight Room</li>
          <li>Functional Fitness</li>
          <li>Cardio</li>
          <li>Ladies Only</li>
          <li>Courts</li>
          <li>Pool</li>
          <li>West Wing</li>
          <li>Club 180</li>
        </ul>

        <img id="img-sitemap" src="/static/images/FSFRedandWhite.png">

      </div>

      <div id="div-contact-buffer">
        <p class='p-contact-body1'>
          <label class='p-label-contact-title1'>Contact Us</label>
          (704) 888 - 3484
        </p>
        <p class='p-contact-body2'>
          <label class='p-label-contact-title2'>Located At</label>
          334 HWY 200 N, Stanfield NC 28163
        </p>
      </div>

      <div id="div-meta-footer">
        <!-- Google Maps Link -->
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3258.6378825683005!2d-80.42687158536253!3d35.24038336163124!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88546b1a7db63337%3A0xafb08bba5fbec1ab!2sFamily%20Sports%20%26%20Fitness!5e0!3m2!1sen!2sus!4v1605781189150!5m2!1sen!2sus"
        width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>

    </div>

    <!-- Scripts -->
    <!-- JQuery script for dropdown menu anchor jump -->
    <script src="/static/javascripts/jquery_all.js"></script>
    <!-- JQuery script -->
    <script src="/static/javascripts/jquery_services.js"></script>
  </body>
</html>
